








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料修改 - update_emp_input.html</title>

<head th:insert="~{/back-end/emp/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>員工資料修改 - update_emp_input.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/emp/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${empVO}" enctype="multipart/form-data">
			<div>
			<label>員工編號:</label>
			<input type="text" th:field="*{empId}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>
			
			<div>
			<label>員工姓名:</label>
			<input type="text" th:field="*{empName}" onclick="hideContent('empName.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}" class="error" id="ename.errors"></span>
			</div>
			
			<div>
			<label>帳號:</label>
			<input type="text" th:field="*{empAccount}" style="border:0px ; font-weight: bold;" readonly/><br/>
			</div>
			
			<div>
			<label>密碼:</label>
			<input type="text" th:field="*{empPassword}" onclick="hideContent('empPassword.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('empPassword')}" th:errors="*{empPassword}" class="error" id="empPassword.errors"></span>
			</div>
			
			<div>
			<label>手機:</label>
			<input type="text" th:field="*{empPhone}" onclick="hideContent('empPhone.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}" class="error" id="empPhone.errors"></span>
			</div>
			
			<div>
			<label>地址:</label>
			<input type="text" th:field="*{empAddress}" onclick="hideContent('empAddress.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('empAddress')}" th:errors="*{empAddress}" class="error" id="empAddress.errors"></span>
			</div>
			
			<div>
			<label>電子郵件:</label>
			<input type="text" th:field="*{empEmail}" onclick="hideContent('empEmail');" /><br/>
			<span  th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}" class="error" id="empEmail.errors"></span>
			</div>
			
			<div>
			<label>雇用日期:</label>
			<input type="date" th:field="*{empHiredate}" onclick="hideContent('empHiredate.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('empHiredate')}" th:errors="*{empHiredate}" class="error" id="empHiredate.errors"></span>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">


</body>
</html>